.our-advantages__wrapper {
    margin: 90px 0px;
}
<style>
.our-advantages__wrapper {
}
.w-search-bar .search-bar .search-bar-upper {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
}